@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@plugin 'tailwind-scrollbar';

@plugin 'phosphor-icons-tailwindcss';

@theme {
  --color-amemiya-white: #FFFFFF;

  --color-amemiya-black: #000000;

  --radius-amemiya-sm: 14px; 
  --radius-amemiya-md: 20px; 
  --radius-amemiya-lg: 30px; 

  --font-inter: "Inter", sans-serif; 
}